<h1>Burgers!</h1>

<h2>burgers that are ready to EAT!</h2>

<ul>
  {{#each burgers}}
    {{#unless devour}}
      {{> burgers/burger-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>burgers that have been DEVOURED!</h2>

<ul>
  {{#each burgers}}
    {{#if devour}}
      {{> burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burgers</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">ADD a burger:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="devour">devour?</label><br>
    <input type="radio" name="devour" value="1" checked> devour!<br>
    <input type="radio" name="devour" value="0"> MAKE burger
  </div>

  <button type="submit">Add Burger</button>
</form>
